*.pyc
llm/
LLM_LIB/
归档/bert-base-chinese/
归档/chinese_bert_classifier/
*.Identifier
unsloth_compiled_cache/
outputs/*
lora_model/
wandb/
unlock-deepseek/
SFT/
log.txt
unsloth/
OUT/
auto_log.txt
DeepSeek-R1-Distill-Qwen-1.5B-8bit/
DeepSeek-R1-Distill-Qwen-7B-unsloth-bnb-4bit
DeepSeek-R1-Distill-Qwen-1.5B-unsloth-bnb-4bit
log.json
outputnew_5.json
